<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tue.student.iot.group18.dao.UserInfoMapper">
    <resultMap id="UserInfoMap" type="tue.student.iot.group18.module.UserInfo">
        <id column="User_id" property="User_id" jdbcType="INTEGER" />
        <result column="First_name" property="First_name" jdbcType="VARCHAR" />
        <result column="Last_Name" property="Last_Name" jdbcType="VARCHAR" />
        <result column="Email" property="Email" jdbcType="VARCHAR" />
        <result column="Serial_number" property="Serial_number" jdbcType="VARCHAR" />
        <result column="password_SHA" property="password_SHA" jdbcType="VARCHAR" />
    </resultMap>

    <select id="find" parameterType="String" resultMap="UserInfoMap">
        SELECT *
        FROM user_info
        WHERE 1 = 1
        <if test="serialNumber != null">AND Serial_number = #{SerialNumber}</if>
        <if test="passwordSHA != null">AND password_SHA = #{passwordSHA}</if>
    </select>

    <select id="count" parameterType="String" resultType="Integer">
        SELECT count(1)
        FROM user_info
        WHERE 1 = 1
        <if test="serialNumber != null">AND Serial_number = #{SerialNumber}</if>
        <if test="passwordSHA != null">AND password_SHA = #{passwordSHA}</if>
    </select>

    <insert id="save" parameterType="tue.student.iot.group18.module.UserInfo">
        INSERT INTO user_info(First_name, Last_Name,Email,Serial_Number, password_SHA)
        VALUES (#{FirstName}, #{LastName}, #{Email}, #{SerialNumber}, #{passwordSHA})
    </insert>

<!--    <select id="get" parameterType="String" resultMap="DemoMap">-->
<!--        select *-->
<!--        FROM demo-->
<!--        WHERE code = #{code}-->
<!--    </select>-->

<!--    <update id="update" parameterType="tue.student.iot.group18.module.Demo">-->
<!--        UPDATE demo-->
<!--        SET flag = #{flag}-->
<!--        WHERE code = #{code}-->
<!--    </update>-->
</mapper>